{% extends 'base.html' %}

{% block content %}

{% if error_message %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Error!</strong> {{ error_message }}
    </div>
{% endif %}

{% if success_message %}
    <div class="info">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Success!</strong> {{ success_message }}
    </div>
{% endif %}

{% if board %}
    <h3>Edit Board</h3>
    {% for b in board %}
        <form action="{% url 'edit_board' b.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" value='{{ b.title }}' class="form-control" required="">
            <a href="{% url 'dashboard' %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
            <button type="submit">Update</button>
        </form>
    {% endfor %}
{% else %}
    <h2>Create a new Board</h2>
    <form action="{% url 'create_board' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Enter Board Title" value="" class="form-control" required="">
        <a href="{% url 'dashboard' %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
        <button type="submit">Create</button>
    </form>
{% endif %}


{% endblock %}